head{
    margin:0;
    padding:0;
}


body {
	
    font-size:16px;
    
}


.nav ul {
	margin:0;
}

nav.menu li, Footer.menu li{
	display : inline;
}

.nav a {
	text-decoration: none;
}

.top-bar {
	background-image: url("/image/bg/bg.jpg");
	background-size:cover;
	padding : 10px;
	width:100%;
}




.productitem{
	margin: 30px;
	display:inline-grid;
	justify-content: space-around;
	flex-wrap: wrap;

}

.productimg{
	height:200px;
	border:1px solid #000000;
	margin: 5px;
	

}



.productdescription{
	font:12px;
	display: inline-block;
}

.productprice{
	width:50%;
	font:bold;
	
}








.cartheader{
	font:bold;
	
}

.cartcolumn{
	margin-top:15px;
	margin-right:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
	display:flex;
}

.cartrow{
	display: flex;
}


.cartitem{
	width:50%;
	
}


.cartprice {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cartquantity {
    width: 35%;
}

.cartitemtitle {
    color: #000000;
    margin-left: 6px;
    font-size: 14px;
}

.cartimg {
    width: 170px;
    height: auto;
    border-radius: 11px;
}



.cartquantityinput {
    height: 30px;
	width: 50px;
	font-size: 14px;
    padding: 0;
	text-align: center;
	border-radius: 5px;
    border: 1px solid #003cff;
    background-color: #99FFCC;
    margin-right: 25px;
}



.carttotal {
    
    margin-top: 10px;
	margin-right: 10px;
	text-align: end;
}

.carttotaltitle {
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.carttotalprice {
    font-size: 14px;
}

.purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 20px;
}




.addtocart{
	text-align: center;
	padding: 5px;
	cursor: pointer;
	border :2px solid #00CC66;
	background-color: #99FFCC;
}
.cartremove{
	text-align: center;
	padding: 5px;
	cursor: pointer;
	border :2px solid #ff3333;
	background-color: #ff6666;
}

